/.idea/*
/.idea/
/.git/*
/dev/*
/.htaccess
/*.htaccess
/.htaccess*
/web.config
/*web.config
/*.log
/*.sql
# исключаем из репозитория текстовые файлы, но оставляем robots.txt
!/robots.txt
/sitemap*.xml
/*.dt
/*.tar.gz
/*.gz
/*.tar
/*.bak
/*.old

# используется папка /local
/bitrix/*
#  служебные папки
/pma
/upload
/verstka